name: CI Pipeline
on:
  push:
    branches: [main]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: '25.5.0'

      - name: Install dependencies
        run: npm install

      - name: Generate Prisma client
        env:
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
          SCHEMA_NAME: ${{ secrets.SCHEMA_NAME }}
        run: npm run db:generate

      - name: Build project
        run: npm run build

      - name: Run tests
        run: npm run test

      - name: Run Linter
        run: npm run lint